<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Children's Section</title>
    <link rel="stylesheet" href="{% static "child.css"%}">
  </head>
  <body>
   <h1>You are viewing children's details</h1>
   <ol>
     <h2> <li> Basic Information:  </li> </h2>
     <ul>
        <li> Name: Mr.X & Ms.Y</li>
        <li> Age: 21 , 19 </li>
        <li> Gender: Male , Female </li>
        <li>Email: code4life@outlook, y1998xer@gmail</li>
        <li>Moblie: 7465927495, 8746503745</li>
     </ul>
      <h2> <li> Professional Information: </li> </h2>
      <ul>
        <li>Mr.X has completed his graduation and looking for a job.</li>
        <li>Has interest in programming games.</li>
        <li>Has a national level gold in badminton.</li>
        <li>Ms.Y is pursuing degree in Electronics.</li>
        <li>Represented her school in Judo in 2016.</li>
      </ul>
      <h2> <li>Personal Information:</li> </h2>
      <ul>
        <li>Y loves to draw and paint.</li>
        <li>She has brilliant general knowledge.</li>
        <li>She is always teacher's favourite.</li>
        <li>X is a hardcore WWE fan.</li>
      </ul>
   </ol>
   <h2>Click on the below button to go back to home page.</h2>
   <a href="http://127.0.0.1:8000/details/">Let's go back!</a>
  </body>
</html>
