<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "detail.css"%}">
  </head>
  <body>
    <h1>Welcome to the details section</h1>
    <br>
    <h2>Click on the below button to check Father's details.</h2>
    <a href="http://127.0.0.1:8000/details/father">Click me!</a>
    <br><br>
    <h2>Click on the below button to check Mother's details.</h2>
    <a href="http://127.0.0.1:8000/details/mother">Click me!</a>
    <br><br>
    <h2>Click on the below button to check Children's details.</h2>
    <a href="http://127.0.0.1:8000/details/children">Click me!</a>
  </body>
</html>
