<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mother's Section</title>
    <link rel="stylesheet" href="{% static "mothe.css"%}">
  </head>
  <body>
   <h1>You are viewing mother's details</h1>
   <ol>
     <h2> <li> Basic Information:  </li> </h2>
     <ul>
        <li> Name: Mrs. ABC</li>
        <li> Age: 50</li>
        <li> Gender: Female</li>
        <li>Email: mrsfamily@gmail</li>
        <li>Moblie: 7654289765</li>
     </ul>
      <h2> <li> Professional Information: </li> </h2>
      <ul>
        <li>Completed matriculation in 1985.</li>
        <li>Got married in 1989 and became House-Wife</li>
        <li>Good experience in stitching.</li>
        <li>Loves to experiment with food.</li>
      </ul>
      <h2> <li>Personal Information:</li> </h2>
      <ul>
        <li>Loves daily soap.</li>
        <li>Active on social media.</li>
        <li>Happy to be the host always.</li>
      </ul>
   </ol> <br>
   <h2>Click on the below button to go back to home page.</h2>
   <a href="http://127.0.0.1:8000/details/">Let's go back!</a>
  </body>
</html>
